{% extends 'base_after.html' %}
{% block title %} Editar Usuario {% endblock %}
{% set active_page = 'Editar Usuario' %}
{% from "_error_messages.html" import error_messages %}
{% from "_flash_messages.html" import flash_messages %}
{% block container %}
<h3 class="text-dark mb-4">Editar Empleado: {{usuario.nombre}} {{usuario.apellido}}</h3>
<form action="{{ url_for('system.edit', usuario_id=usuario.idUsuario ) }}" method="POST" enctype="multipart/form-data">
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow">
                    <img id="user_img" class="rounded-circle mb-3 mt-4" src="{% if usuario.image %} {{ url_for('system.uploads', filename=usuario.image) }} {% else %} {{ url_for('static', filename='img/avatars/avatar.jpeg') }} {% endif %}" width="160" height="160">
                    <div class="mb-3">
                        {{form.hidden_tag() }}
                        {{form.image.label}}
                        {{form.image(class="form-control")}}
                    </div>
                        {{form.submit(class="btn btn-primary", value="Editar Usuario")}}
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary fw-bold m-0">Información Basica</h6>
                        </div>
                        <div class="card-body">
                            {% set flashes = get_flashed_messages(with_categories=true) %}
                            {{ flash_messages(flashes)}}
                            {{ error_messages(form.errors) }}
                            <div class="row">
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        {{ form.nombre.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                        {{ form.nombre(class="form-control") }}
                                    </div>
                                </div>
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        {{ form.apellido.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                        {{ form.apellido(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        {{ form.cedula.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                        {{ form.cedula(class="form-control") }}
                                    </div>
                                </div>
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        {{ form.salario.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                        {{ form.salario(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        {{ form.correo.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                        {{ form.correo(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Información Laboral</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        {{ form.cargo.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                        {{ form.cargo(class="form-control") }}
                                    </div>
                                </div>
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        {{ form.dependencia.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                        {{ form.dependencia(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        {{ form.tipo_contrato.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                        {{ form.tipo_contrato(class="form-control") }}
                                    </div>
                                </div>
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        {{ form.idRol.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                        {{ form.idRol(class="form-select") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        {{ form.fecha_contrato.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                        {{ form.fecha_contrato(class="form-control") }}
                                    </div>
                                </div>
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        {{ form.fecha_ingreso.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                        {{ form.fecha_ingreso(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow" style="margin-bottom: 16px;">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Información de Contacto</p>
                        </div>
                        <div class="card-body">
                            <div>
                                {{ form.direccion.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                {{ form.direccion(class="form-control") }}
                                <div class="row">
                                    <div class="col" style="text-align: left;margin: auto;">
                                        <div>
                                            {{ form.celular.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                            {{ form.celular(class="form-control") }}
                                        </div>
                                    </div>
                                    <div class="col" style="text-align: left;margin: auto;">
                                        <div>
                                            {{ form.telefono.label(class="text-secondary fw-bold", style="margin: auto;") }}
                                            {{ form.telefono(class="form-control") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow mb-5">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col">
                            <p class="text-primary m-0 fw-bold">Retroalimentacion</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3" style="margin-bottom: 6px;">
                        <p class="text-secondary fw-bold" style="margin: auto;">Comentarios:</p>
                    </div>
                    <div><textarea class="form-control" id="signature" rows="" name="signature" style="width: 100%;height: 100%;padding-bottom: 0px;padding-left: 0px;padding-top: 41px;padding-right: 0px;" placeholder="El empleado genera valor para la empresa ademas de conocimiento para su equipo. Fecha=25/04/21"></textarea></div>
                    <div class="col">
                        <p class="text-secondary fw-bold" style="margin: auto;">Puntaje:</p>
                        <div class="row">
                            <div class="col"><i class="fa fa-star" id="score-6" value="1"></i><i class="fa fa-star" id="score-7" value="2"></i><i class="fa fa-star" id="score-8" value="3"></i><i class="fa fa-star" id="score-9" value="4"></i><i class="fa fa-star" id="score-10" value="5"></i></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3" style="margin-bottom: 6px;">
                        <p class="text-secondary fw-bold" style="margin: auto;">Comentarios:</p>
                    </div>
                    <div><textarea class="form-control" id="signature-1" rows="" name="signature" style="width: 100%;height: 100%;padding-bottom: 0px;padding-left: 0px;padding-top: 41px;padding-right: 0px;" placeholder="El empleado no genera valor para la empresa ademas de enemistad para su equipo. Fecha=25/04/21"></textarea></div>
                    <div class="col">
                        <p class="text-secondary fw-bold" style="margin: auto;">Puntaje:</p>
                        <div class="row">
                            <div class="col"><i class="fa fa-star" id="score-1" value="1"></i><i class="fa fa-star-o" id="score-2" value="2"></i><i class="fa fa-star-o" id="score-3" value="3"></i><i class="fa fa-star-o" id="score-4" value="4"></i><i class="fa fa-star-o" id="score-5" value="5"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/_flash_fadeout.js') }}"> </script>
<script src="{{ url_for('static', filename='js/preview_image.js') }}"> </script>
{% endblock %}