{% extends 'base_after.html' %}
{% set active_page = 'Profile' %}
{% block title %} Profile {% endblock %}
{% from "_flash_messages.html" import flash_messages %}
{% from "_error_messages.html" import error_messages %}
{% from "_retroalimentacion.html" import retroalimentacion %}
{% block container %}
<h3 class="text-dark mb-4">{{ current_user.nombre | safe}} {{ current_user.apellido | safe}}</h3>
{% set flashes = get_flashed_messages(with_categories=true) %}
{{ flash_messages(flashes)}}
{{ error_messages(form.errors) }}
<div class="row mb-3">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center shadow">
                <div class="mb-3">
                    <img class="rounded-circle" width="160" height="200" src="{% if current_user.image %} {{ url_for('system.uploads', filename=current_user.image) }} {% else %} {{ url_for('static', filename='img/avatars/avatar.jpeg') }} {% endif %}">
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Información Basica</h6>
            </div>
            <div class="card-body">
                <h4 class="small fw-bold">Nombre Completo:</h4>
                <h4 class="small">{{ current_user.nombre | safe}} {{ current_user.apellido | safe}}</h4>
                <h4 class="small fw-bold">Cédula de Ciudadania:</h4>
                <h4 class="small">{{ current_user.cedula }}</h4>
                <h4 class="small fw-bold">Correo Electronico:</h4>
                <h4 class="small">{{ current_user.correo | safe}}</h4>
                <h4 class="small fw-bold">Id Usuario:</h4>
                <h4 class="small">{{ current_user.idUsuario }}</h4>
                <h4 class="small fw-bold">Contraseña<br></h4>                
                <a class="card-link" href="#offcanvas-1" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvas-1">
                    <h4 class="small">Cambiar contraseña</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Información Laboral</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Cargo:</p>
                                    <h6>{{ current_user.cargo | safe}}</h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Dependencia:</p>
                                    <h6>{{ current_user.dependencia | safe}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Tipo de Contrato:</p>
                                    <h6>{{ current_user.tipo_contrato | safe}}</h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Rol:</p>
                                    <h6>{{ current_user.nombreRol }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Fecha Termino Contrato:</p>
                                    <h6>{{ current_user.fecha_contrato.strftime('%Y-%m-%d') }}</h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Fecha Ingreso:</p>
                                    <h6>{{ current_user.fecha_ingreso.strftime('%Y-%m-%d') }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow" style="margin-bottom: 16px;">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Información de Contacto</p>
                    </div>
                    <div class="card-body">
                        <div>
                            <p class="text-secondary fw-bold" style="margin: auto;">Dirección Postal:</p>
                            <h6> {{ current_user.direccion | safe}}</h6>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Celular:</p>
                                    <h6> {{ current_user.celular }} </h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Telefono fijo:</p>
                                    <h6> {{ current_user.telefono }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Configuración del Sistema</p>
                    </div>
                    <div class="card-body">
                        <div>
                            <p class="text-secondary fw-bold" style="margin: auto;">Idioma:</p>
                            <h6>Español</h6>
                        </div>
                        <div>
                            {% if current_user.idRol == 3 %}
                                <p class="text-secondary fw-bold" style="margin: auto;">Ajustes de Privacidad:</p>
                                <h6>Administradores y Super Administradores pueden ver este perfil&nbsp;</h6>
                            {% else %}
                                <p class="text-secondary fw-bold" style="margin: auto;">Ajustes de Privacidad:</p>
                                <h6>Solo los Super Administradores pueden ver este perfil&nbsp;</h6>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if current_user.idRol == 3 %}
{{ retroalimentacion(retroalimentaciones, editable=false) }}
{% endif %}

<div tabindex="-1" data-bs-scroll="true" class="offcanvas offcanvas-end" id="offcanvas-1" aria-labelledby="offcanvas-1">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Cambiar contraseña</h5><button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Puede cambiar su contraseña del sistema aqui.</p>
        <p>Su contraseña distingue mayúsculas de minúsculas y no puede estar en blanco.</p>
        <form action="{{ url_for('system.profile' ) }}" method="POST">
            {{form.hidden_tag() }}
            <div class="row" style="margin-top: 2rem;">
                <div class="col">
                    <div>
                        {{ form.oldpassword.label(class="form-label") }}
                        {{ form.oldpassword(class="form-control") }}
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 1rem;">
                <div class="col">
                    <div>
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 1rem;">
                <div class="col">
                    <div>
                        {{ form.confirm.label(class="form-label") }}
                        {{ form.confirm(class="form-control") }}
                    </div>
                </div>
            </div>
                {{ form.submit(class="btn btn-primary form-control", style="position: absolute;bottom: 3%;width: 90%;border-radius: 23px;") }}
<!--            <button class="btn btn-primary" type="submit" data-bs-dismiss="offcanvas" style="position: absolute;bottom: 3%;width: 90%;">Cambiar contraseña<br /></button>-->
        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/star.js') }}"> </script>
<script src="{{ url_for('static', filename='js/_flash_fadeout.js') }}"> </script>
{% endblock %}