{% extends 'base_after.html' %}
{% set active_page = 'Table' %}
{% from "_flash_messages.html" import flash_messages %}
{% block title %} Table {% endblock %}
{% block container %}
{% set flashes = get_flashed_messages(with_categories=true) %}
{{ flash_messages(flashes)}}
<div class="card"> 
    <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Filtrar</p>
    </div>
    <div class="card-body">
        <form class="filter-form" action="{{ url_for('system.table' ) }}" method="GET">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form.rol.label(class="form-label") }}
                        {{ form.rol(class="form-control") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form.cargo.label(class="form-label") }}
                        {{ form.cargo(class="form-control") }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ form.date_admission.label(class="form-label") }}
                        {{ form.date_admission(class="form-control") }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ form.dependencia.label(class="form-label") }}
                        {{ form.dependencia(class="form-control") }}
                    </div>
                </div>
                <div class="col">
                    {{ form.submit(class="btn btn-primary form-control",style="margin-bottom: 0%;margin-top: 2em;") }}
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Información de Usuarios</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-nowrap">
                <div id="dataTable_length" name="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                    <label class="form-label">Show&nbsp;
                        <select class="d-inline-block form-select form-select-sm">
                            {% for i in opciones%}
                            {% if opciones[0] == i%}
                            <option value="{{ i }}" selected="">{{ i }}</option>
                            {% else %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>&nbsp;
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-md-end dataTables_filter" id="dataTable_filter"><a
                        href="{{ url_for('system.NewUser') }}"><i class="fa fa-user-plus"></i><span>New User</span></a>
                </div>
            </div>
        </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="data">
                <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Rol</th>
                        <th>Cargo</th>
                        <th>Dependencia</th>
                        <th>Fecha Ingreso</th>
                        <th>Opcion</th>
                    </tr>
                </thead>
                <tbody class="filtro_form">
                    {% if usuarios|length >= opciones[0] %}
                    {% set cantidad = opciones[0] %}
                    {% else %}
                    {% set cantidad = usuarios|length %}
                    {% endif %}
                    {% for i in range(cantidad) %}
                    <tr>
                        <td>{{ usuarios[i].nombre | safe +" "+ usuarios[i].apellido | safe}}</td>
                        <td>{{ usuarios[i].nombreRol | safe }}</td>
                        <td>{{ usuarios[i].cargo | safe}}</td>
                        <td>{{ usuarios[i].dependencia | safe }}</td>
                        <td>{{ usuarios[i].fecha_ingreso.strftime('%Y-%m-%d') | safe}}</td>
                        <td>
                            <div class="row">
                                <div class="col"><a href="{{ url_for('system.view', usuario_id=usuarios[i].idUsuario) }}"><i
                                            class="fa fa-user-circle-o"></i></a></div>
                                <div class="col"><a href="{{ url_for('system.edit', usuario_id=usuarios[i].idUsuario) }}"
                                        style="text-align: center;"><i class="fa fa-edit"></i></a></div>
                                <div class="col">
                                    <a href="{{ url_for('system.delete', usuario_id=usuarios[i].idUsuario) }}"
                                        onclick="return confirm(&#39;Esta seguro que quiere remover a este usuario?&#39;)">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </div>
                                {% if usuarios[i].idRol == 3 %}
                                <div class="col">
                                    <a href="{{ url_for('system.retroalimentacion', usuario_id=usuarios[i].idUsuario) }}">
                                        <i class="fa fa-list-alt"></i>
                                    </a>
                                </div>        
                                {% else %}
                                <div class="col"><i class="fa fa-list-alt"></i></div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Nombre Completo</strong></td>
                        <td><strong>Rol</strong></td>
                        <td><strong>Cargo</strong></td>
                        <td><strong>Dependencia</strong></td>
                        <td><strong>Fecha Ingreso</strong></td>
                        <td><strong>Opcion</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                    {% if usuarios|length == 0 %}
                        Mostrando 0 usuarios 
                    {% else %}
                        Mostrando 1 a {{cantidad}} de {{usuarios|length}}
                    {% endif %}
                </p>
            </div>
            <div class="col-md-6">
                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        <li class="page-item cambio_pagina disabled" id="Previous">
                            <a class="page-link" href="#"  aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="page-item numero_pagina active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item numero_pagina"><a class="page-link" href="#">2</a></li>
                        <li class="page-item numero_pagina"><a class="page-link" href="#">3</a></li>
                        <li class="page-item cambio_pagina" id="Next">
                            <a class="page-link" href="#"  aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/_flash_fadeout.js') }}"> </script>
<script src="{{ url_for('static', filename='js/table_update.js') }}"> </script>
{% endblock %}