{% extends 'base_after.html' %}
{% block title %} Vista Usuario {% endblock %}
{% set active_page = 'Vista Usuario' %}
{% from "_flash_messages.html" import flash_messages %}
{% from "_retroalimentacion.html" import retroalimentacion %}
{% block container %}
<h3 class="text-dark mb-4">Usuario : {{usuario.nombre | safe}} {{usuario.apellido | safe}} </h3>
{% set flashes = get_flashed_messages(with_categories=true) %}
{{ flash_messages(flashes)}}
<div class="row mb-3">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center shadow">
                <img class="rounded-circle mb-3 mt-4" src="{% if usuario.image %} {{ url_for('system.uploads', filename=usuario.image) }} {% else %} {{ url_for('static', filename='img/avatars/avatar.jpeg') }} {% endif %}" width="160" height="160">
                <div class="mb-3">
                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Información Basica</h6>
            </div>
            <div class="card-body">
                <h4 class="small fw-bold">Nombre Completo: </h4>
                <h4 class="small"> {{usuario.nombre | safe}} {{usuario.apellido | safe}}</h4>
                <h4 class="small fw-bold">Cédula de Ciudadania: </h4>
                <h4 class="small"> {{usuario.cedula}} </h4>
                <h4 class="small fw-bold">Correo Electronico:</h4>
                <h4 class="small"> {{usuario.correo | safe}} </h4>
                <h4 class="small fw-bold">Id Usuario:</h4>
                <h4 class="small">{{usuario.idUsuario}} </h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col" style="text-align: center;">
                        <a class="btn btn-primary btn-sm" role="button" style="margin: auto;" href="{{ url_for('system.edit', usuario_id=usuario.idUsuario) }}">Editar</a>
                    </div>
                    <div class="col" style="text-align: center;">
                        <a class="btn btn-danger btn-sm" role="button" style="margin: auto;" href="{{ url_for('system.delete', usuario_id=usuario.idUsuario) }}" onclick="return confirm(&#39;Esta seguro de eliminar a este usuario?&#39;);">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Información Laboral</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Cargo:</p>
                                    <h6> {{usuario.cargo | safe}} </h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Dependencia:</p>
                                    <h6> {{usuario.dependencia | safe}} </h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Tipo de Contrato:</p>
                                    <h6> {{usuario.tipo_contrato | safe}} </h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Rol:</p>
                                    <h6> {{usuario.nombreRol}} </h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Fecha Termino Contrato:</p>
                                    <h6> {{usuario.fecha_contrato.strftime('%Y-%m-%d')}} </h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Fecha Ingreso:</p>
                                    <h6> {{usuario.fecha_ingreso.strftime('%Y-%m-%d')}} </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow" style="margin-bottom: 16px;">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Información de Contacto</p>
                    </div>
                    <div class="card-body">
                        <div>
                            <p class="text-secondary fw-bold" style="margin: auto;">Dirección Postal:</p>
                            <h6>{{usuario.direccion | safe}}</h6>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Celular:</p>
                                    <h6>{{usuario.celular }}</h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Telefono fijo:</p>
                                    <h6>{{usuario.telefono}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Configuración del Sistema</p>
            </div>
            <div class="card-body">
                <div>
                    <p class="text-secondary fw-bold" style="margin: auto;">Idioma:</p>
                    <h6>Español</h6>
                </div>
                <div>
                    {% if usuario.idRol == 3 %}
                        <p class="text-secondary fw-bold" style="margin: auto;">Ajustes de Privacidad:</p>
                        <h6>Administradores y Super Administradores pueden ver este perfil&nbsp;</h6>
                    {% else %}
                        <p class="text-secondary fw-bold" style="margin: auto;">Ajustes de Privacidad:</p>
                        <h6>Solo los Super Administradores pueden ver este perfil&nbsp;</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if usuario.idRol == 3 %}
{{ retroalimentacion(retroalimentaciones, editable=false) }}
{% endif %}

{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/_flash_fadeout.js') }}"> </script>
<script src="{{ url_for('static', filename='js/star.js') }}"> </script>
{% endblock %}
