{% extends 'base.html' %}

{% block title %} ForgotPassword {% endblock %}

{% block body %}

<body class="bg-gradient-primary" style="background: url('/static/img/background.png') center / cover no-repeat, var(--bs-gray-200);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10" style="transform: translateY(36px);margin-top: -22px;">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-4 d-none d-lg-flex" style="background: var(--bs-blue);height: 500px;"><img src="/static/img/logo.png" style="transform: scale(0.30);margin-left: -260px;"></div>
                            <div class="col-lg-8">
                                <div class="p-5" style="height: 410px;">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-2" style="margin-top: 24px;font-style: italic;font-weight: bold;">¿Olvidó su contraseña?</h4>
                                        <p class="mb-4" style="color: var(--bs-gray-900);font-size: 18px;transform: translateY(25px);">Ingrese su dirección de correo electrónico a continuación y le enviaremos un enlace para restablecer su contraseña.<br></p>
                                    </div>
                                    <form class="user">
                                        <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Ingresar Correo Electrónico" name="email" style="margin-top: 121px;text-align: center;width: 351.984px;margin-left: 70px;color: var(--bs-gray-900);font-size: 16px;"></div>
                                        <button class="btn btn-primary d-block btn-user w-100" type="submit" style="width: 200px;max-width: 200px;margin-left: 147px;">Restablecer Contraseña</button>
                                    </form>
                                    <div class="text-center">
                                        <hr>
                                    </div>
                                    <div class="text-center"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

{% endblock %}