{% extends 'base.html' %}
{% block title %} ForgotPassword {% endblock %}
{% block body %}

<body style="display:flex;">
    <div class="container" style="margin: auto;">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5" style="border-radius: 20px">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-4 d-none d-lg-flex" style="background: var(--bs-blue);height: 500px;margin: auto"><img src="/static/img/logo.png" style="display: block;width: 80%;margin: auto;"></div>
                            <div class="col-lg-8">
                                <div class="p-5" style="height: 500px; width: 98%">
                                    <h3 class="titulo-h3">¿Olvidó su contraseña?</h3>
                                    <p class="p-forgot-pass">Ingrese su dirección de correo electrónico a continuación y le enviaremos un correo con una contraseña provisional.<br></p>
                                    <form class="form-forgot-pass" action="" method="post">
                                        {{form.hidden_tag() }}
                                        {% with messages = get_flashed_messages(with_categories=true) %}
                                            {% if messages %}
                                                {% for category, message in messages %}
                                                <div style="position: relative;">
                                                    <div class="alert alert-{{ category }}" id="error-msg" style="position: absolute;margin: auto;margin-top: -55px;width: 100%;font-size: 12px; text-align: center;" role="alert">
                                                        {{message}}
                                                    </div>    
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                        {{ form.email(class="input-forgot-pass", placeholder= "Correo electrónico")}}
                                        {{ form.submit(class="btn-rest-pass")}}
                    
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/_flash_fadeout.js') }}"> </script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>   
</body>

{% endblock %}