{% extends 'base.html' %}

{% block title %} ForgotPassword {% endblock %}

{% block body %}

<body class="bg-gradient-primary" style="background: url('/static/img/background.png') center / cover no-repeat, var(--bs-gray-200);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10" style="transform: translateY(36px);margin-top: -22px;">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-4 d-none d-lg-flex" style="background: var(--bs-blue);height: 500px;margin: auto"><img src="/static/img/logo.png" style="display: block;width: 80%;margin: auto;"></div>
                            <div class="col-lg-8">
                                <div class="p-5" style="height: 500px; width: 98%">
                                    <div class="text-center">
                                        <h3 class="form-titulo-h3">¿Olvidó su contraseña?</h3>
                                        <p class="parrafo-1">Ingrese su dirección de correo electrónico a continuación y le enviaremos un enlace para restablecer su contraseña.<br></p>
                                    </div>
                                        <div class="text-center">
                                            <form name="formForgotPass" action="" method="post">
                                                <input class="input-150" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Ingresar Correo Electrónico" name="email">
                                                <button class="btn-restPass" type="submit">Restablecer Contraseña</button>
                                            </form>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

{% endblock %}