{% extends 'base.html' %}
{% from "_error_messages.html" import error_messages %}
{% from "_flash_messages.html" import flash_messages %}
{% block title %} Login {% endblock %}
{% block body %}

<body class="bg-gradient-primary" style="background: url('/static/img/background.png') center / cover no-repeat, var(--bs-gray-200);">
        <h1 class="form-titulo-h1"></h1>
        <form class="login-form" action="{{ url_for('auth.login') }}" method="POST">
            <img src="/static/img/logo.png" style="display: block;width: 40%;margin: auto;" >
            <h2 class="form-titulo-h2">Bienvenido</h2>
            <div class="cont-inputs">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" style="position: absolute;max-width: 90%;margin-top: -70px;font-size: 12px; text-align: center;" role="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {{form.hidden_tag() }}
                {{ form.correo(class="input-100", placeholder= "Correo")}}
                {{ form.password(class="input-100", placeholder="Contraseña")}}
                {{ form.submit(class="btn-enviar")}}
                <a class="form-link" href="{{ url_for('auth.ForgotPassword') }}">¿Olvidó su contraseña?</a>
            </div>
        </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/_flash_fadeout.js') }}"> </script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>

{% endblock %}