{% extends 'base.html' %}

{% block title %} LogIn {% endblock %}

{% block body %}

<body class="bg-gradient-primary" style="min-height: 500px;height: 500px;">
    <section class="login-clean" style="height: 613px;background: url('/static/img/background.png') center / cover no-repeat, var(--bs-gray-200);color: var(--bs-gray-dark);">
        <form method="POST" style="border-radius: 30px;margin-top: 10px;border: 0.5px solid var(--bs-gray-300);height: 568px;transform: translateY(-54px);max-width: 500px;" action="{{ url_for('auth.login') }}">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="row" style="transform: translateY(-31px) scale(0.60);margin-top: -69px;">
                <img src="/static/img/logo.png" style="transform: scale(0.70);"/>
            </div>
            <label class="form-label" style="color: var(--bs-blue);font-size: 42px;transform: translateX(93px) translateY(-54px);margin-top: -64px;font-weight: bold;">Bienvenido</label>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" style="margin-top: -64px; text-align: center;" role="alert">
                            {{message}}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {{form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username(class="form-control", placeholder= "Nombre de Usuario", style="color: var(--bs-gray-900);font-size: 16px;width: 250px;margin-left: 84px;text-align: center;")}}
            </div>
            <div class="mb-3">
                {{ form.password(class="form-control", placeholder="Contraseña", style="color: var(--bs-gray-900);width: 250px;margin-left: 84px;text-align: center;") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class="btn btn-primary d-block w-100 form-control", style="color: var(--bs-gray-100);background: var(--bs-blue);min-width: 120px;max-width: 24px;margin: 27px 0px 0px;margin-left: 70px;height: 39px;border-radius: 23px;padding: 8px;transform: translateX(81px);")}}
            </div>
            <a class="forgot" href="{{ url_for('auth.ForgotPassword') }}">¿Olvidó su contraseña?</a>
        </form>
    </section>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>

</body>

{% endblock %}