{% extends 'base_after.html' %}
{% block title %} Edit {% endblock %}
{% block container %}
<h3 class="text-dark mb-4">Editar Empleado: Angelica Ramos</h3>
<form>
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="../static/img/avatars/images.png" width="160" height="160">
                    <div class="mb-3"><input class="form-control" type="file"></div><button class="btn btn-primary" type="submit">Editar</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="text-primary fw-bold m-0">Información Basica</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        <p class="text-secondary fw-bold" style="margin: auto;">Nombre:</p><input class="form-control" type="text" id="firstname" placeholder="Angelica ">
                                    </div>
                                </div>
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        <p class="text-secondary fw-bold" style="margin: auto;">Apellido:</p><input class="form-control" type="text" id="lastname" placeholder="Ramos">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        <p class="text-secondary fw-bold" style="margin: auto;">Cedula:</p><input class="form-control" type="number" id="cedulaCiudadania" placeholder="0.000.000.000">
                                    </div>
                                </div>
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        <p class="text-secondary fw-bold" style="margin: auto;">Correo Electronico:</p><input class="form-control" type="email" id="email" placeholder="angelicaramos@uninorte.edu.co">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Información Laboral</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        <p class="text-secondary fw-bold" style="margin: auto;">Cargo:</p><input class="form-control" type="text" id="cargo" placeholder="Ingeniero">
                                    </div>
                                </div>
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        <p class="text-secondary fw-bold" style="margin: auto;">Dependencia:</p><input class="form-control" type="text" id="dependencia" placeholder="Ingenieria">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        <p class="text-secondary fw-bold" style="margin: auto;">Tipo de Contrato:</p><input class="form-control" type="text" id="tipoContrato" placeholder="Termino Fijo">
                                    </div>
                                </div>
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        <p class="text-secondary fw-bold" style="margin: auto;">Rol:</p><select class="form-select" id="rol" name="rol">
                                            <option value="0" selected="">Empleado</option>
                                            <option value="1">Administrador</option>
                                            <option value="2">Super Administrador</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        <p class="text-secondary fw-bold" style="margin: auto;">Fecha Termino Contrato:</p><input class="form-control" id="contratoDate" type="date">
                                    </div>
                                </div>
                                <div class="col" style="text-align: left;margin: auto;">
                                    <div>
                                        <p class="text-secondary fw-bold" style="margin: auto;">Fecha Ingreso:</p><input class="form-control" id="ingresoDate" type="date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow" style="margin-bottom: 16px;">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Información de Contacto</p>
                        </div>
                        <div class="card-body">
                            <div>
                                <p class="text-secondary fw-bold" style="margin: auto;">Dirección Postal:</p><input class="form-control" type="text" placeholder="Calle 23 #86-52 Barrio el carmen">
                                <div class="row">
                                    <div class="col" style="text-align: left;margin: auto;">
                                        <div>
                                            <p class="text-secondary fw-bold" style="margin: auto;">Celular:</p><input class="form-control" type="tel" id="cellphone" placeholder="312587469">
                                        </div>
                                    </div>
                                    <div class="col" style="text-align: left;margin: auto;">
                                        <div>
                                            <p class="text-secondary fw-bold" style="margin: auto;">Telefono fijo:</p><input class="form-control" type="tel" id="phoneNumber" placeholder="36985236">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow mb-5">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col">
                            <p class="text-primary m-0 fw-bold">Retroalimentacion</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3" style="margin-bottom: 6px;">
                        <p class="text-secondary fw-bold" style="margin: auto;">Comentarios:</p>
                    </div>
                    <div><textarea class="form-control" id="signature" rows="" name="signature" style="width: 100%;height: 100%;padding-bottom: 0px;padding-left: 0px;padding-top: 41px;padding-right: 0px;" placeholder="El empleado genera valor para la empresa ademas de conocimiento para su equipo. Fecha=25/04/21"></textarea></div>
                    <div class="col">
                        <p class="text-secondary fw-bold" style="margin: auto;">Puntaje:</p>
                        <div class="row">
                            <div class="col"><i class="fa fa-star" id="score-6" value="1"></i><i class="fa fa-star" id="score-7" value="2"></i><i class="fa fa-star" id="score-8" value="3"></i><i class="fa fa-star" id="score-9" value="4"></i><i class="fa fa-star" id="score-10" value="5"></i></div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3" style="margin-bottom: 6px;">
                        <p class="text-secondary fw-bold" style="margin: auto;">Comentarios:</p>
                    </div>
                    <div><textarea class="form-control" id="signature-1" rows="" name="signature" style="width: 100%;height: 100%;padding-bottom: 0px;padding-left: 0px;padding-top: 41px;padding-right: 0px;" placeholder="El empleado no genera valor para la empresa ademas de enemistad para su equipo. Fecha=25/04/21"></textarea></div>
                    <div class="col">
                        <p class="text-secondary fw-bold" style="margin: auto;">Puntaje:</p>
                        <div class="row">
                            <div class="col"><i class="fa fa-star" id="score-1" value="1"></i><i class="fa fa-star-o" id="score-2" value="2"></i><i class="fa fa-star-o" id="score-3" value="3"></i><i class="fa fa-star-o" id="score-4" value="4"></i><i class="fa fa-star-o" id="score-5" value="5"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}