{% extends 'base_after.html' %}
{% block title %} Profile {% endblock %}
{% block container %}
<h3 class="text-dark mb-4">Perfil</h3>
<div class="row mb-3">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center shadow">
                <div class="mb-3"><img class="rounded-circle" src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"></div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Información Basica</h6>
            </div>
            <div class="card-body">
                <h4 class="small fw-bold">Nombre Completo:</h4>
                <h4 class="small">Juan Jose Martinez Monsalve</h4>
                <h4 class="small fw-bold">Cédula de Ciudadania:</h4>
                <h4 class="small">0.000.000.000</h4>
                <h4 class="small fw-bold">Correo Electronico:</h4>
                <h4 class="small">jjmonsalve@uninorte.edu.co</h4>
                <h4 class="small fw-bold">Id Usuario:</h4>
                <h4 class="small">12345</h4>
                <h4 class="small fw-bold">Contraseña<br></h4><a class="card-link" href="changePassword">
                <h4 class="small">Cambiar contraseña</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Información Laboral</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Cargo:</p>
                                    <h6>Contador</h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Dependencia:</p>
                                    <h6>Contable</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Tipo de Contrato:</p>
                                    <h6>Termino Fijo</h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Rol:</p>
                                    <h6>Empleado</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Fecha Termino Contrato:</p>
                                    <h6>12/03/21</h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Fecha Ingreso:</p>
                                    <h6>11/02/19</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow" style="margin-bottom: 16px;">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Información de Contacto</p>
                    </div>
                    <div class="card-body">
                        <div>
                            <p class="text-secondary fw-bold" style="margin: auto;">Dirección Postal:</p>
                            <h6>Calle 100 # 25 - 52 Barrio Los Almendros&nbsp;</h6>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Celular:</p>
                                    <h6>3156258963</h6>
                                </div>
                            </div>
                            <div class="col" style="text-align: left;margin: auto;">
                                <div>
                                    <p class="text-secondary fw-bold" style="margin: auto;">Telefono fijo:</p>
                                    <h6>3598645</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Configuración del Sistema</p>
                    </div>
                    <div class="card-body">
                        <div>
                            <p class="text-secondary fw-bold" style="margin: auto;">Idioma:</p>
                            <h6>Español</h6>
                        </div>
                        <div>
                            <p class="text-secondary fw-bold" style="margin: auto;">Ajustes de Privacidad:</p>
                            <h6>Solo los Administradores pueden ver este perfil&nbsp;</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card shadow mb-5">
    <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Retroalimentacion</p>
    </div>
    <div class="card-body">
        <div class="mb-3" style="margin-bottom: 6px;">
            <p class="text-secondary fw-bold" style="margin: auto;">Comentarios:</p>
        </div>
        <div><textarea id="signature" rows="" name="signature" style="width: 100%;height: 100%;padding-bottom: 0px;padding-left: 0px;padding-top: 41px;padding-right: 0px;"></textarea></div>
        <div class="col">
            <p class="text-secondary fw-bold" style="margin: auto;">Puntaje:</p>
            <div class="row">
                <div class="col"><i class="fa fa-star-o" id="score" value="1"></i><i class="fa fa-star-o" id="score" value="2"></i><i class="fa fa-star-o" id="score" value="3"></i><i class="fa fa-star-o" id="score" value="4"></i><i class="fa fa-star-o" id="score" value="5"></i></div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-3" style="margin-bottom: 6px;">
            <p class="text-secondary fw-bold" style="margin: auto;">Comentarios:</p>
        </div>
        <div><textarea id="signature-1" rows="" name="signature" style="width: 100%;height: 100%;padding-bottom: 0px;padding-left: 0px;padding-top: 41px;padding-right: 0px;"></textarea></div>
        <div class="col">
            <p class="text-secondary fw-bold" style="margin: auto;">Puntaje:</p>
            <div class="row">
                <div class="col"><i class="fa fa-star-o" id="score-1" value="1"></i><i class="fa fa-star-o" id="score-2" value="2"></i><i class="fa fa-star-o" id="score-3" value="3"></i><i class="fa fa-star-o" id="score-4" value="4"></i><i class="fa fa-star-o" id="score-5" value="5"></i></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}