<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Contraseña Temporal</title>
</head>
<body>
    <h3>Sr. Usuario,</h3>
    <br>
    <h3>Su contraseña temporal es <span style="color: #4370FC">{{password}}</span>, por favor asegurese de cambiarla.</h3>
    <br>
    <h3>Cordialmente,</h3>
    <br>
    <h3>Departamento de Sistemas</h3>
    <h3 style="color: #4370FC">JBS S.A.S</h3>
    <img src="/static/img/logo.png" style="width: 20%;"/>
</body>
</html>